<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CMS - Author Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/index/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/index/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/index/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/index/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/index/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/index/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/author_page_index">Conference Management System</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/sign_out"> Logout </a></li>
            <li><a href="/author_page"> Submit Paper </a></li>
          <li> <a href=""> {{ author.user_name }} </a> </li>

        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <script>
    function showMessage(){
      alert("Online Conferencing is not implemented yet..")
    }
  </script>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Conference Management System</h1>
        </div>
      </div>
      <div class="text-center">
        <a href="/author_page" class="btn-get-started scrollto">Get Started</a>
      </div>

      <div class="row icon-boxes justify-content-center">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="/author_page_index" onclick="showMessage()">Online Conferencing</a></h4>
            <p class="description">Host live presentations, panel discussions, and networking sessions with ease.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="/author_page">Paper Submission</a></h4>
            <p class="description">Authors can effortlessly upload their research papers directly onto the platform.</p>
          </div>
        </div>



        <!--
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-fingerprint-line"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
      -->
      </div>
    </div>
  </section><!-- End Hero -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/index/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/index/vendor/aos/aos.js"></script>
  <script src="../static/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/index/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/index/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/index/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/index/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/index/js/main.js"></script>

</body>

</html>
